on init
    # LiveDisplay sysfs
    chown system system /sys/devices/virtual/panel/brightness/irc_support
    chmod 0660 /sys/devices/virtual/panel/brightness/irc_support
    chown system system /sys/devices/virtual/panel/brightness/irc_brighter
    chmod 0660 /sys/devices/virtual/panel/brightness/irc_brighter
	

service vendor.livedisplay-hal-2-0-lge_flash /vendor/odm/bin/hw/vendor.lineage.livedisplay@2.0-service.lge_flash
    class hal
    user system
    group system
